/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
html,
body,
#root {
  margin: 0;
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100vh;
}

* {
  font-family: 'Varela Round', sans-serif;;
}

body {
padding: 20px;
background-color: #F8F7F6;
}

.swal2-container {
  z-index: 2;
}
